# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.DS_Store

# Files from Forge MDK
forge*changelog.txt
src/main/resources/data/buildbasics/.DS_Store
src/main/resources/data/buildbasics/loot_tables/.DS_Store
